<form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="createComment(formDirective)">
  <div class="form-group">
    <textarea
      class="form-control"
      formControlName="comment" [ngClass]="{ 'is-invalid': submitted && f.comment.errors }">
    </textarea>
    <div *ngIf="submitted && f.comment.errors" class="invalid-feedback">
      <div *ngIf="f.comment.errors.required">Please enter your comment</div>
    </div>
  </div>
    <button
      type="submit" class="btn btn-primary btn-sm">
      Submit
    </button>
 </form>