<div class="alert alert-danger" *ngIf="error">
  <p>{{ error }}</p>
</div>
<div class="container-fluid">
    <form class="mx-auto" [formGroup]="form" (ngSubmit)="createUser()">
        <h4 class="text-center">Signup</h4>
        <div class="mb-2 mt-4">
          <label class="form-label">Name</label>
            <input type="text"  formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Please enter your name</div>
            </div>
        </div>
        <div class="mb-2 mt-4">
          <label class="form-label">Email</label>
          <input type="email" formControlName="emailId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }"/>
          <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
            <div *ngIf="f.emailId.errors.required">Please enter your email</div>
          </div>
        </div>
        <div class="mb-2 mt-4">
          <label class="form-label">Password</label>
          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <div class="mb-2 mt-4">
          <label class="form-label">Confirm Password</label>
          <input type="password" formControlName="c_password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.c_password.errors }"/>
          <div *ngIf="submitted && f.c_password.errors" class="invalid-feedback">
            <div *ngIf="f.c_password.errors.required">Please confirm your password</div>
          </div>
        </div>
        <button [disabled]="!form.valid" class="btn btn-primary">
          Sign up
         </button>
        <div class="text-center login">
          Already have an account ? <a routerLink="">Login</a> here.
        </div>
    </form>
</div>
