<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand">Reetro board</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="row" >
  <div class="alert alert-success" *ngIf="success">
    <p>Comment submitted successfully!</p>
  </div>
  <div class="alert alert-danger" *ngIf="deleted">
    <p>Comment deleted successfully!</p>
  </div>
  <div class="alert alert-info" *ngIf="updated">
    <p>Comment updated successfully!</p>
  </div>
  <div class="column" *ngFor="let category of categories">
    <div class="container">
      &nbsp;
      <h5>{{ category.categoryName }}</h5>
      <div class="container-1">
        <app-comment-item 
        [category] ="category" (commentCreated)="onCreateComment($event)">
      </app-comment-item>
      </div>
      <div *ngFor = "let comment of comments">
        <div class="row" *ngIf = "comment.commentType == category.categoryValue">
          <div class="container-2">
            <div *ngIf="(comment.id == commentId);else other_content">
              <textarea id="content" required [(ngModel)]="comment.comment" name="comment" (blur)="updateComment(comment)"></textarea>
              <button (click) = "updateComment(comment)">
                <mat-icon  style="font-size:20px;color:rgb(12, 12, 201)">send</mat-icon>
              </button>
            </div>
            <ng-template #other_content>
              <p>{{ comment.comment }}</p>
              <div *ngIf = "comment.createdBy.id == currentUser.id">
                <button (click) = "deleteComment(comment.id)">
                  <i class="material-icons" style="font-size:20px;color:rgb(223, 68, 68)">delete</i>
                </button>
                &nbsp;
                <button (click) = "editComment(comment.id)">
                  <i class="fa fa-edit" style="font-size:20px"></i>
                </button>
              </div> 
            </ng-template>
         </div>
         <p class="fw-lighter fst-italic">{{comment.createdBy.userName}}</p>
        </div>
      </div> 
    </div>
  </div>
</div>

