  .container{
    align-items: center;
    background-color: rgb(223, 220, 220);
    height: 100%;
    width: 30vw;
    margin-right: 90%;
    margin-top: 5%;
    border-radius: 3%;
  }
  .container-1{
    background-color: white;
    height: 3%;
    width: 90%;
    margin-top: 10%;
    margin-bottom: 20%;
    border-radius: 3%;
  }

.column {
  float: left;
  width: 30%;
  padding: 0 10px;
}

.row {
  margin-left: 20px;
  margin-right: -125px;
}
.container-2{
  background-color: white;
  height: 200%;
  width: 67%;
  margin-top: 8%;
  border-radius: 3%;
  margin-left: -5%;
}
textarea {
  resize: none;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
}
button{
  border: none;
  outline: none;
  background-color: white;
}
.navbar-brand{
  margin-left: 45%;
}
.logout{
  margin-left: 40%;
}
.fw-lighter{
  margin-top: -7%;
  margin-left: 61%;
  font-size: 14px;
  color: rgb(139, 5, 139);
}
.alert {
  padding: 8px;
  border-radius: 2px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  height:35px;
  width:50%;
  margin-left: 22%;  
  margin-bottom: -100%;
  margin-top: 0%;
}

