<div class="container-fluid">
  <form class="mx-auto">
      <h4 class="text-center">Login</h4>
      <div class="mb-3 mt-5">
        <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password">
      </div>      
      <button type="submit" class="btn btn-primary mt-4">Login</button>
      <div class="text-center signup">
        Don't have an account? <a routerLink="/register">Sign up</a> here.
      </div>
  </form>
</div>

