<div class="alert alert-danger" *ngIf="error">
  <p>Please enter valid username or password</p>
</div>
<div class="container-fluid">
  <form class="mx-auto"  [formGroup]="form" (ngSubmit)="validateUser()">
      <h4 class="text-center">Login</h4>
      <div class="mb-3 mt-5">
        <label class="form-label">Email</label>
          <input  type="email" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
      </div>      
      <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
        Login
    </button>
      <div class="text-center signup">
        Don't have an account? <a routerLink="/register">Sign up</a> here.
      </div>
  </form>
</div>

